@import url('https://fonts.googleapis.com/css?family=Anton');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.mainNav{
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: #F4FAF8;
  display: flex;
  align-items: center;
}

.top-logo{
  font-family: 'Karbon', sans-serif;
  font-size: 16px;
  padding-right: 20px;
  line-height: 20px;
}

.top-logo:first-child{
  font-family: 'Anton', sans-serif;
  color: #596b7a;
  font-size: 32px;
  line-height: 20px;
  padding-left: 5px;
  margin: 17px;
  flex: 1;
}

.main-container{
  background-image: url("http://barbiereslc.com/img/BarbSLC-6.jpg");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*.main-logo{
  background-image: url("http://barbiereslc.com/img/barbiere-logo-light.png");
  width:900px;
  height:350px;
  background-size:auto;
}*/

.btn-primary{
  font-family: 'karbon', sans-serif;
  color: #2f363c;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  background-color: #e6f2ee;
  padding: 20px;
  margin-top: 30px;
}

.first-divider{
  background-color: #E9F2EE;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 500px;
  padding-right: 500px;
  line-height: 1.5;
  font-family: 'karbon', sans-serif;
  font-size: 18px;
}

.about-the-shop{
  background-color: #F4FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 20px;
}

.middle-divider{
  background-color: #F4FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-box-left{
  margin-right: 60px;
  max-width: 380px;
  font-size: 15px;
  line-height: 1.5;
}

.growing-team{
  background-color: #E9F2EE;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.book-an-appointment{
  background-color: #3B4650;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-an-appointment-header{
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}

.appointment-box{
  background-color: #fff;
  width: 600px;
  height: 600px;
}

.social-box{
  background-color: #F4FAF8;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-box-header{
  color: #333333;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.social-box-container{
  width: 80%;
  height: 150px;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}


.social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.copyright-bar{
  background-color: #F4FAF8;
  height: 100px;
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-bottom: 0;
}

@media screen and (min-width: 763px) {
  #hamburger-menu{
    display: none;
  }
}

@media screen and (max-width: 763px) {
  .image-right {
    display: none;
  }
  .top-logo:nth-child(2){
    display: none;
}
  .top-logo:nth-child(3){
    display: none;
}
  .top-logo:nth-child(4){
    display: none;
}

.social-box{
  background-color: #F4FAF8;
  height: 800px;
}
.social-box-container{
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.social-image-descriptor{
  /*display: none;*/
}

}
@media screen and (max-width: 1238px) {

  .first-divider{
    background-color: #E9F2EE;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1.5;
    font-family: 'karbon', sans-serif;
    font-size: 15px;
}

}
